body{
    font-family: 'Courier New', monospace;
    ;
}
header{
    text-align: center;
    margin-bottom: 40px;
    ;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 2,8rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: aquamarine;
    text-decoration: underline;
}

.my-custom-h1 {
    font-family: Arial, sans-serif;
}