.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgba(19, 218, 253, 0.356);
    padding: 10px;
    gap: 5px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888e0;
    border: 3Px solid rgba(0, 0, 0, 0.582);  

    
}

.container > div{
   background-color: rgba(127, 255, 191, 0.719);
    border: 3Px solid rgba(0, 0, 0, 0.5);
    padding: 25px ;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    transition: transform 0.2s;
    cursor: pointer;
    
    

}

.grid-item:hover{
    background-color:rgba(128, 32, 218, 0.349) ;
    transform: scale(1.2);
}

.Header{
    color: rgba(255, 238, 0, 0.801);
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(255, 81, 0, 0.795);
    text-align: center;
    margin-bottom: 30px;


}


