.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aquamarine;
    padding: 10px;
    gap: 10px;

}
.container > div{
    background-color: #f1f1f1;
   border: 1px solid rgba(0, 0, 0, 0.8);
   text-align: center;
    padding: 20px 0;
    font-size: 40px;
    text-align: center;
}
.grid-item1{
    grid-column: 1/span 3 ;
    
}
.grid-item2{
    grid-row-start: 1;
    grid-row: 2 / span 4;
}
.grid-item5{
    grid-column-start: 2 / span 2;
    grid-row: span 5;
    
    
}