.class{
    border: 5px solid rgba(255, 255, 0, 0.452);
    padding: 2px;
    /* border-style: dotted; */
    background: #afffee;
    text-align: center;
    padding: 10px 20px 30px;
    width: 300px;
    height: 170px;
    font-family: monospace;
    font-size: 16px;
    
}
