a:link{
    color: blue;
    text-decoration: none;
}
a:visited{
    color: green;
    
}

a:hover{
    color:purple;
    text-decoration: underline;
}
a:active{
    color:black;
   
}
